<%= form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: "needs-validation", "data-toggle": "validator", novalidate: "true"} do |f| %>
  <%= devise_error_messages! %>

  <%= tag.div class: 'group form-group' do %>
    <%= f.label :username, class: "label" %>
    <%= f.text_field :username, class: "input form-control", pattern: "^[A-Za-z0-9]{1,}$", minlength: "6", maxlength: "15", "data-toggle": "username", "data-placement": "right", trigger: "manual", "data-html": true, required: true %></p>
    <%= tag.div class: 'invalid-tooltip' do %>Provide a valid username
    <% end %>
    <%= tag.div class: 'help-block with-errors' %>
  <% end %>

  <%= tag.div class: 'group form-group' do %>
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input form-control", "data-type": "email", "data-toggle": "email", "data-placement": "right", trigger: "manual", title: "Doesn't look like an email...", required: true %>
    <%= tag.div class: 'invalid-tooltip' do %>Bruh, that email address is invalid<% end %>
  <% end %>

  <%= tag.div class: 'group form-group' do %>
    <%= f.label :password, class: "label" %>
    <%= f.password_field :password, autocomplete: "new-password", id: "user_pass", class: "input form-control", "data-type": "password", pattern: "^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[()!@#$%^&*_\\-:'/])[0-9a-zA-Z!()@#$%^&*_\\-:'/]{6,}$", minlength: "6", "data-toggle": "password", "data-placement": "right", trigger: "manual", "data-html": true, required: true %>
    <%= tag.div class: 'invalid-tooltip' do %>Provide a password for your account<% end %>
  <% end %>

  <%= tag.div class: 'group form-group' do %>
    <%= f.label :password_confirmation, class: "label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "user_pass_confirmation", class: "input form-control", "data-type": "password", minlength: "6", "data-match": "#new-password", "data-match-error": "error", "data-toggle": "tooltip", "data-placement": "right", trigger: "manual", title: "Whoops, these don't match", required: true %>
    <%= tag.div class: 'invalid-tooltip' do %>Repeat your password<% end %>
    <%= tag.div class: 'help-block with-errors' %>
  <% end %>

  <%= tag.div class: 'space' %>

  <%= tag.div class: 'group' do %>
    <%= f.submit "Sign in", class: "button" %>
  <% end %>

<% end %>
<%= tag.div class: 'space' %>

<%= tag.div class: 'foot-lnk' do %>
  <%= label_tag 'tab-1', 'Already member?' %>
<% end %>


