<body>
<%= stylesheet_link_tag "carousel" %>
<%= stylesheet_link_tag "card" %>
  <div id="carouselMain" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselMain" data-slide-to="0" class="active"></li>
      <li data-target="#carouselMain" data-slide-to="1"></li>
      <li data-target="#carouselMain" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" > <%= image_tag("carousel/air1.jpg", :alt => "First_Slide", :class => "d-block w-100") %> </div>
      <div class="carousel-item"> <%= image_tag("carousel/yeezy1.jpg", :alt => "Second_Slide", :class => "d-block w-100") %> </div>
      <div class="carousel-item"> <%= image_tag("carousel/vapor.jpg", :alt => "Third_slide", :class => "d-block w-100") %> </div>
    </div>
    <a class="carousel-control-prev" href="#carouselMain" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselMain" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div id="carouselBottom">
    <div id="carouselLeft" class="carousel slide" data-ride="carousel" data-interval="3700">
      <ol class="carousel-indicators">
        <li data-target="#carouselLeft" data-slide-to="0" class="active"></li>
        <li data-target="#carouselLeft" data-slide-to="1"></li>
        <li data-target="#carouselLeft" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item"><%= image_tag("carousel/air1.jpg", :alt => "First_Slide", :class => "d-block w-100") %></div>
        <div class="carousel-item"><%= image_tag("carousel/yeezy1.jpg", :alt => "Second_Slide", :class => "d-block w-100") %></div>
        <div class="carousel-item active"><%= image_tag("carousel/vapor.jpg", :alt => "Third_Slide", :class => "d-block w-100") %></div>
      </div>
      <a class="carousel-control-prev" href="#carouselLeft" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselLeft" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div id="carouselRigth" class="carousel slide" data-ride="carousel" data-interval="3900">
      <ol class="carousel-indicators">
        <li data-target="#carouselRigth" data-slide-to="0" class="active"></li>
        <li data-target="#carouselRigth" data-slide-to="1"></li>
        <li data-target="#carouselRigth" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item"><%= image_tag("carousel/air1.jpg", :alt => "First_Slide", :class => "d-block w-100") %></div>
        <div class="carousel-item active"><%= image_tag("carousel/yeezy1.jpg", :alt => "Second_Slide", :class => "d-block w-100") %></div>
        <div class="carousel-item"><%= image_tag("carousel/vapor.jpg", :alt => "Third_Slide", :class => "d-block w-100") %></div>
      </div>
      <a class="carousel-control-prev" href="#carouselRigth" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselRigth" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

<div class="contenedor">
  <ul class="flex-container">
    <% @shoes.sort_by{|t| - t.dateAdded.to_i}.first(4).each do |shoe| %>
    <%# @shoes.first(4).each do |shoe| %>
      <li class="flex-item">
        <div class="card">
          <%= link_to shoe, :action => 'go' do %>
            <% if shoe.image.attached? %>
              <%= image_tag shoe.image, style: "width:100%" %>
            <% end %>
            <div class="container">
              <h4><%= shoe.brand %></h4>
              <p><%= shoe.model %></p>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

</body>
