<%= form_with(model: news, local: true) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contenedor">
    <div class="profile">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="News_Name"><strong>News Name</strong></label>
            <%= form.text_field :shoeName, class: "form-control", id: "News_Name" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="ShortDecript"><strong>Short Decription</strong></label>
            <%= form.text_area :smallText, class: "form-control", id: "ShortDecript" %>
          </div>
          <div class="form-group col-md-6">
            <label for="LongDecript"><strong>Long Decription</strong></label>
            <%= form.text_area :largeText, class: "form-control", id: "LongDescript" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="exampleFormControlFile1"><strong>IMG</strong></label>
            <%= form.file_field :images, multiple: true, class: "form-control-file"%>
          </div>
          <div class="form-group col-md-6">
            <label for="Sneaker_Date"><strong>Sneaker Release Date</strong></label>
            <%= form.date_field :releaseDate, class: "form-control", id: "Sneaker_date" %>
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Sneaker_Price"><strong>Sneaker Price €</strong></label>
            <%= form.text_field :price, class: "form-control",placeholder: "Sneaker Price €"%>
          </div>
          <div class="form-group col-md-6">
            <label for="Sneaker_Color"><strong>Sneaker Color</strong></label>
            <%= form.text_field :color, class: "form-control", id: "Sneaker_Color", placeholder: "Sneaker Color" %>
          </div>
        </div>
        <br>
        <br>
        <%= link_to "Back to Admin News", news_admin_new_path, class: "btn btn-info" %>
        <%= form.submit buttonText, {class: "btn btn-primary float-right "} %>
      </form>

    </div>
  </div>
<% end %>
