<p id="notice"><%= notice %></p>

<% if @news.images.attached? %>
  <% n = 0 %>
  <%= div_for @news.images do |image| %>
    <% n += 1 %>
    <%= tag.div class: 'col-sm-6' do %>
      <%= image_tag image, alt: @news.shoeName + n.to_s , class: "d-block mx-auto rounded img-fluid" %>
    <% end %>
  <% end %>
<% end %>

<p>
  <strong>Shoename:</strong>
  <%= @news.shoeName %>
</p>

<p>
  <strong>Smalltext:</strong>
  <%= @news.smallText %>
</p>

<p>
  <strong>Largetext:</strong>
  <%= @news.largeText %>
</p>

<p>
  <strong>Releasedate:</strong>
  <%= @news.releaseDate %>
</p>

<p>
  <strong>Price:</strong>
  <%= @news.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @news.color %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
