<p id="notice"><%= notice %></p>

<p>
  <strong>Shoename:</strong>
  <%= @news.shoeName %>
</p>

<p>
  <strong>Smalltext:</strong>
  <%= @news.smallText %>
</p>

<p>
  <strong>Largetext:</strong>
  <%= @news.largeText %>
</p>

<p>
  <strong>Releasedate:</strong>
  <%= @news.releaseDate %>
</p>

<p>
  <strong>Price:</strong>
  <%= @news.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @news.color %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
