<head xmlns="http://www.w3.org/1999/html">
<%= stylesheet_link_tag "release" %>
</head>
      <main>
        <article>
          <p>
            <%if @news.images.attached?%>
                <%= @news.smallText %><br>
                <% @news.images.first(1).each do |image| %>
                  <div id="imageWrapper"><%= image_tag image, alt: @news.shoeName , class: "d-block mx-auto rounded img-fluid" %></div>
                <%end %>
                  <p>
                    <strong><%= @news.shoeName %></strong><br>
                    <strong>Releasedate:</strong> <%= @news.releaseDate %><br>
                    <strong>Price:</strong> <%= @news.price %>€<br>
                    <strong>Color:</strong> <%= @news.color %><br>
                    <%= @news.largeText %>
                  </p>
                  <%index = 1 %>
                  <% @news.images.each do |image| %>
                    <% if index > 1%>
                      <div id="imageWrapper"><%= image_tag image, alt: @news.shoeName , class: "d-block mx-auto rounded img-fluid" %></div>
                    <% end %>
                    <% index = index + 1 %>
                  <%end %>
            <% end %>
        </article>
      </main>