<% if @news.images.attached? %>
  <% n = 0 %>
  <%= div_for @news.images do |image| %>
    <% n += 1 %>
    <%= tag.div class: 'col-sm-6' do %>
      <main>
        <article>
          <header>
            <div id="imageWrapper"><%= image_tag image, alt: @news.shoeName + n.to_s , class: "d-block mx-auto rounded img-fluid" %></div>
            <p><strong>Shoename:</strong> <%= @news.shoeName %><br>
              <strong>Smalltext:</strong> <%= @news.smallText %><br>
              <strong>Releasedate:</strong> <%= @news.releaseDate %><br>
              <strong>Price:</strong> <%= @news.price %> <br>
              <strong>Color:</strong> <%= @news.color %><br>
              <strong>Largetext:</strong> <%= @news.largeText %>
          </header>
        </article>
      </main>
    <% end %>
  <% end %>
<%else %>
  <main>
    <article>
      <header>
        <p><strong>Shoename:</strong> <%= @news.shoeName %><br>
          <strong>Smalltext:</strong> <%= @news.smallText %><br>
          <strong>Releasedate:</strong> <%= @news.releaseDate %><br>
          <strong>Price:</strong> <%= @news.price %> <br>
          <strong>Color:</strong> <%= @news.color %><br>
          <strong>Largetext:</strong> <%= @news.largeText %>
      </header>
    </article>
  </main>




<%end%>