<%= form_with(model: shoe, remote: true) do |form| %>
  <% if shoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
        <% shoe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <%= form.text_field :brand, {value: "shoe to flama", placeholder: "Marca", class: "form-control"} %>
  <%= form.text_field :color, {value: "color to flama", placeholder: "Color", class: "form-control"} %>
  <%= form.text_field :model, {value: "modelo to flama", placeholder: "Modelo", class: "form-control"} %>
  <%= form.text_field :price, {value: "5", placeholder: "Precio", class: "form-control"} %>
  <%= form.text_field :releaseDate, {value: "7/7/7", placeholder: "Fecha de salida", class: "form-control"} %>

  <%= form.text_area :info, {value: "algo flama to flama", placeholder: "Escribe el artículo", class: "form-control"} %>
  <%= form.file_field :image %>

  <%= form.submit buttonText, {class: "btn btn-primary"} %>





  <!--  <div class="actions">-->
  <%#= form.submit %>
  <!--  </div>-->
<% end %>

