<%= stylesheet_link_tag "card" %>

<div class="contenedor">
  <ul class="flex-container">
    <% @shoes.each do |shoe| %>
      <li class="flex-item">
        <div class="card">
          <%= link_to shoe, :action => 'go' do %>
            <% if shoe.image.attached? %>
              <%= image_tag shoe.image, style: "width:100%" %>
            <% end %>
            <div class="container">
              <h4><%= shoe.brand %></h4>
              <p><%= shoe.model %></p>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>



  <%#= link_to 'New Shoe', new_shoe_path %>
<!--  <br>
  <br>
  <%#= button_tag "alert testin", type: :button, onclick: "getFormValues();", class: "btn btn-secondary" %>-->
</div>

<%= javascript_include_tag "sweetalert2.all.min" %>
<%= javascript_include_tag "sweetAlerts" %>

