<!DOCTYPE html>
<html>
  <head>
    <title>FlySnk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <%= render 'layouts/nav' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <footer class="contenedor footerSk">
    <p style="margin-top: 10px;">Copyright (C) 2018 FlySnk All Rights Reserved</p>
  </footer>
  </body>
</html>
